/*<style></style>
        p{
            nom_propriete : valeur ;
        }  */
/*
        html{

            background: #8543ff2a;
        }
*/
        head{
            image-rendering: auto;
        }

        #logo {
            position: absolute;
            width: 50px;       
        }

        #titre {
            position: absolute;
            margin-bottom: 0px;
            margin-left:25%;
            width: 50%;
            
            /*background-color: rgba(255, 255, 255, 0.5);
            border-radius: 500px;*/
           
        }

        #anims{
            width: 250px; 
        }

        #icon{
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 25%;
        }
        #icon:hover{
            background-color: mediumpurple;
            border-radius: 25%;
        }

        body{
            background-image: url("../img/texture.png");
            
            font-family: DejaVu Sans Mono, monospace;
        }

        #carte{
            margin-top: -15%;
            margin-left: 120%;
          }
        
        h1{
            margin: 0;
            width: 150px;
            text-transform:     uppercase 5px;
            border-radius: 5px ;
            text-transform: capitalize, uppercase;
            font-size: 30px;
            border-radius: 5px; 
            text-shadow: 1px 0 0 rgb(163, 141, 86), 0 1px 0 rgba(163, 141, 86, 0.5), 0 -1px 0  rgba(163, 141, 86, 0.5),
             -1px 0 0  rgba(163, 141, 86, 0.5), 1px 1px 0  rgba(163, 141, 86, 0.5), 1px -1px 0  rgba(163, 141, 86, 0.5),
             -1px 1px 0  rgba(163, 141, 86, 0.5), -1px -1px 0  rgba(163, 141, 86, 0.5);

        }

        h2{
            margin-left: 50%;
            margin: 0;
            width: 80px;
            text-transform: uppercase 5px;
            border-radius: 5px ;
            text-transform: capitalize, uppercase;
            font-size: 25px;
            text-align: center;
            text-shadow: 1px 0 0 rgb(163, 141, 86), 0 1px 0 rgba(163, 141, 86, 0.5), 0 -1px 0  rgba(163, 141, 86, 0.5),
             -1px 0 0  rgba(163, 141, 86, 0.5), 1px 1px 0  rgba(163, 141, 86, 0.5), 1px -1px 0  rgba(163, 141, 86, 0.5),
             -1px 1px 0  rgba(163, 141, 86, 0.5), -1px -1px 0  rgba(163, 141, 86, 0.5);

        }

        p {
            text-align: center;
            height: 100%;
            width: 93%;
            padding: 25px;
            font-size: 150%;
            font-weight: bold;
            text-shadow: 1px 0 0 rgb(163, 141, 86), 0 1px 0 rgba(163, 141, 86, 0.5), 0 -1px 0  rgba(163, 141, 86, 0.5),
             -1px 0 0  rgba(163, 141, 86, 0.5), 1px 1px 0  rgba(163, 141, 86, 0.5), 1px -1px 0  rgba(163, 141, 86, 0.5),
             -1px 1px 0  rgba(163, 141, 86, 0.5), -1px -1px 0  rgba(163, 141, 86, 0.5);
            background-color: rgba(168, 113, 219, 0.5);
            border-radius: 15px;
            
            border: 25px solid transparent;
            border-image: url('../img/border.png');
            border-image-slice: 250;
            border-image-width: 10;
            border-image-outset: 0;
            border-image-repeat: round;

            overflow: auto;
            
        }

        p.descript {
            text-align: center;
            height: 100%;
            width: 93%;
            padding: 25px;
            font-size: 100%;
            font-weight: bold;
            text-shadow: 1px 0 0 rgb(163, 141, 86), 0 1px 0 rgba(163, 141, 86, 0.5), 0 -1px 0  rgba(163, 141, 86, 0.5),
             -1px 0 0  rgba(163, 141, 86, 0.5), 1px 1px 0  rgba(163, 141, 86, 0.5), 1px -1px 0  rgba(163, 141, 86, 0.5),
             -1px 1px 0  rgba(163, 141, 86, 0.5), -1px -1px 0  rgba(163, 141, 86, 0.5);
            background-color: rgba(168, 113, 219, 0.5);
            border-radius: 5px;
            
            border: 25px solid transparent;
            border-image: url('../img/border.png');
            border-image-slice: 250;
            border-image-width: 10;
            border-image-outset: 0;
            border-image-repeat: round;

            overflow: auto;
            
        }  
    
        footer{
            position: absolute ;
            bottom: 100;
            text-transform: uppercase 5px;
            background-color: rgba(179, 0, 224, 0.205) ; 
            border-radius: 5px,;
        }

        nav
        {
          width: 100%;
          height: 100%;
          margin:auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          background: rgba(98, 0, 255, 0.479);
        }

        ul {
            list-style-type:none;
        }

        li {
            float: left;
            margin-left:2px;
        }

        li ul {
            display: none;
            
        }

        li a {
            display:block;
            padding: 20px;
            background-color:rgb(139, 100, 237);
            color:black;
            text-decoration:none;
            text-shadow: 1px 0 0 rgb(165, 138, 219), 0 1px 0 rgb(165, 138, 219), 0 -1px 0  rgb(165, 138, 219), 
            -1px 0 0  rgb(165, 138, 219), 1px 1px 0  rgb(165, 138, 219), 1px -1px 0  rgb(165, 138, 219),
            -1px 1px 0  rgb(165, 138, 219), -1px -1px 0  rgb(165, 138, 219);
            font-weight: bold;
        }

        li a:hover {
            background-color: rgba(137, 43, 226, 0.5);
        }

        li:hover ul{
            display: block;
        }

        li li {
            float: none;
            margin-left: -30px;
        }

    table {
        margin: auto;
        border: medium solid #000000;
        width: 100%;
        }
    td,th{
        border: thin solid #2b018d;
        width: 10%;
        background-color: #a280ff75 ;
        color: #DCDCDC;
        text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 
        2px 2px 0 black, 2px -2px 0 black,-2px 2px 0 black, -2px -2px 0 black;
        text-decoration:none;
        }

    .element:hover {
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        }

    th {
            height: 50px;
            text-align: left;
            background-color: rgba(92, 43, 226, 0.5) ;
            color: #DCDCDC;
            text-decoration:none;
            font-weight: bold;
            text-transform: capitalize;
        }



        

        
        
